---
import Layout from "../../Layout.astro";
import BlogPostCard from "../../components/BlogPostCard.astro";
import Container from "../../components/common/Container.astro";
import { StrapiPostEndpoints } from "../../lib/strapi";

const posts = await StrapiPostEndpoints.getAllPosts();

const title = "Blog - Najnowsze artykuły";
const description = "Najnowsze artykuły i porady.";
---

<Layout title={title} description={description}>
  <div>
    <div class="bg-rbd-primary px-4">
      <Container>
        <h1 class="text-white lg:text-3xl py-4 lg:py-8 font-medium">Blog</h1>
      </Container>
    </div>
    <div class="lg:px-4">
      <div class="max-w-7xl mx-auto">
        {
          posts.length === 0 ? (
            <div>
              <p class="text-center p-4">
                Brak dostępnych wpisów. Zapraszamy wkrótce!
              </p>
            </div>
          ) : (
            <ul class="lg:divide-y divide-gray-200">
              {posts.map((post) => (
                <li class="lg:py-8">
                  <BlogPostCard post={post} />
                </li>
              ))}
            </ul>
          )
        }
      </div>
    </div>
  </div>
</Layout>
