---
import '../styles/global.css';
import Layout from '../Layout.astro';
---

<Layout>
  <div class="flex flex-col items-center justify-center gap-4 p-8">
    <h1 class="text-3xl text-center text-rbd-primary">404 - Nie znaleziono</h1>
    <p class="text-center max-w-md mx-auto">
      Strona pod tym adresem nie istnieje.
    </p>
    <a href="/" class="button"> Strona główna </a>
  </div>
</Layout>
