---
interface Props {
  question: string;
}

const { question } = Astro.props;
---

<details
  class="group text-[14px] md:text-base shadow w-full rounded-[10px] border-b-2 border-rbd-primary transition bg-white"
>
  <summary
    class="flex justify-between items-center px-[40px] py-[24px] group-open:pb-0 cursor-pointer list-none focus:outline-none"
  >
    <span class="text-rbd-primary font-semibold">
      {question}
    </span>
    <svg
      class="w-5 h-5 text-rbd-primary transform transition-transform duration-200 group-open:rotate-180"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      viewBox="0 0 24 24"
    >
      <path stroke-linecap="round" stroke-linejoin="round" d="M19 9l-7 7-7-7"></path>
    </svg>
  </summary>

  <div class="px-[40px] py-[24px] rounded-b-[10px] text-rbd-primary">
    <slot />
  </div>
</details>
