<h2 class="h2 form-header cursor-pointer" id="form4-header-text">
	Chcesz się
	<br />
	<span class="text-rbd-red">Oddłużyć</span>?
	<br />
	Wypełnij formularz
</h2>

<style>
	@reference "../styles/global.css";

	.form-header {
		@apply md:max-w-md mx-auto text-center leading-12 text-[42px] md:text-[48px] font-semibold text-rbd-secondary mb-4;
	}
</style>
