<div class="success-view" id="success-view">
	<div class="mb-6 bg-[#FAFBFE] rounded-lg p-8 pl-4">
		<div class="grid grid-cols-1 md:grid-cols-2 gap-4 gap-y-12">
			<div class="flex gap-[24px] md:gap-[32px] items-center">
				<div
					class="flex-shrink-0 rounded-full flex items-center justify-center mr-3"
				>
					<svg
						class="w-[40px] h-[40px] md:h-full md:w-full"
						xmlns="http://www.w3.org/2000/svg"
						width="60"
						height="61"
						viewBox="0 0 60 61"
						fill="none"
					>
						<path
							d="M55 28.2143V30.5143C54.9969 35.9054 53.2512 41.151 50.0233 45.4689C46.7954 49.7867 42.2582 52.9455 37.0884 54.474C31.9186 56.0026 26.3931 55.819 21.3362 53.9508C16.2792 52.0825 11.9616 48.6295 9.0274 44.107C6.09317 39.5844 4.69948 34.2345 5.05419 28.8551C5.40891 23.4757 7.49302 18.3551 10.9957 14.257C14.4984 10.1589 19.232 7.30276 24.4905 6.11467C29.749 4.92658 35.2507 5.47015 40.175 7.66431"
							stroke="#0C2E70"
							stroke-width="3"
							stroke-linecap="round"
							stroke-linejoin="round"></path>
						<path
							d="M55 10.1667L30 35.6088L22.5 27.9838"
							stroke="#DA1E35"
							stroke-width="3"
							stroke-linecap="round"
							stroke-linejoin="round"></path>
					</svg>
				</div>
				<div>
					<p
						class="md:max-w-xs font-semibold text-[20px] md:text-[24px] text-rbd-primary"
					>
						Na
						<span class="text-rbd-red"> 90% </span>
						możemy Tobie pomóc z długiem
					</p>
					<p class="text-[14px] md:text-base text-rbd-primary">
						Zadzwonimy do Ciebie w ciągu 24h (roboczych)
					</p>
				</div>
			</div>

			<div class="flex gap-[24px] gap-[32px] items-center">
				<div
					class="flex-shrink-0 rounded-full flex items-center justify-center mr-3"
				>
					<svg
						class="w-[40px] h-[40px] md:h-full md:w-full"
						xmlns="http://www.w3.org/2000/svg"
						width="65"
						height="47"
						viewBox="0 0 65 47"
						fill="none"
					>
						<path
							d="M61.723 8.73092C61.3937 7.41091 60.7229 6.20146 59.7785 5.22474C58.8341 4.24802 57.6494 3.53861 56.3442 3.16818C51.5754 2 32.5 2 32.5 2C32.5 2 13.4246 2 8.65579 3.27943C7.35058 3.64987 6.16594 4.35927 5.22152 5.33599C4.27709 6.31272 3.60632 7.52216 3.27697 8.84217C2.4042 13.6972 1.97729 18.6223 2.00158 23.5556C1.97047 28.5261 2.39742 33.4887 3.27697 38.3803C3.64007 39.6593 4.32586 40.8228 5.26809 41.7583C6.21031 42.6937 7.37713 43.3696 8.65579 43.7206C13.4246 45 32.5 45 32.5 45C32.5 45 51.5754 45 56.3442 43.7206C57.6494 43.3501 58.8341 42.6407 59.7785 41.664C60.7229 40.6873 61.3937 39.4778 61.723 38.1578C62.5891 33.3393 63.016 28.4518 62.9984 23.5556C63.0295 18.5852 62.6026 13.6225 61.723 8.73092Z"
							stroke="#0C2E70"
							stroke-width="2.5"
							stroke-linecap="round"
							stroke-linejoin="round"></path>
						<path
							d="M27 34L45 24L27 14V34Z"
							stroke="#DA1E35"
							stroke-width="2.5"
							stroke-linecap="round"
							stroke-linejoin="round"></path>
					</svg>
				</div>
				<div>
					<p class="font-semibold text-[20px] md:text-[24px] text-rbd-primary">
						<span class="text-rbd-red">WAŻNE!</span> Zobacz to krótkie wideo przed
						kontaktem z nami
					</p>
				</div>
			</div>
		</div>
	</div>

	<div class="rounded-lg overflow-hidden mb-4 aspect-video">
		<div
			class="wistia_responsive_padding"
			style="padding:56.25% 0 0 0;position:relative;"
		>
			<div
				class="wistia_responsive_wrapper"
				style="height:100%;left:0;position:absolute;top:0;width:100%;"
			>
				<iframe
					src="https://fast.wistia.net/embed/iframe/zk208mh1am?web_component=true&seo=true"
					title="Rodzina Bez Dlugow Video"
					allow="autoplay; fullscreen"
					allowtransparency="true"
					frameborder="0"
					scrolling="no"
					class="wistia_embed"
					name="wistia_embed"
					width="100%"
					height="100%"></iframe>
			</div>
		</div>
		<script src="https://fast.wistia.net/player.js" async></script>
	</div>
</div>
