<div class="flex items-center gap-3">
  <img
    src="/assets/images/author.jpg"
    alt="Patryk Majcher - specjalista ds. oddłużania"
    loading="lazy"
    class="size-12 rounded-full"
  />
  <div class="leading-5">
    <p class="text-slate-800">Patryk Majcher</p>
    <p class="text-sm text-slate-600">Specjalista ds. oddłużania</p>
  </div>
</div>
